<template>
  <!-- GRID -->
  <sui-grid>
    <!-- HEADER -->
    <sui-grid-row>
      <sui-grid-column :width="4">
        <Search />
      </sui-grid-column>
      <sui-grid-column :width="9" />
      <sui-grid-column :width="3">
        <router-link :to="{ name: 'create' }" class="btn btn-app float-right">
          <sui-icon name="plus" /> Refrigerante
        </router-link>
      </sui-grid-column>
    </sui-grid-row>
    <!-- END HEADER -->
    <!-- LIST -->
    <sui-grid-row>
      <sui-grid-column :width="16">
        <TableContent />
      </sui-grid-column>
    </sui-grid-row>
    <!-- END LIST -->
    <!-- <Modal /> -->
  </sui-grid>
  <!-- END GRID -->
</template>

<script>
import TableContent from "@/components/Table/Content";
import { mapActions, mapState } from "vuex";

export default {
  components: { TableContent },
  computed: mapState(["sodas"]),
  methods: {
    ...mapActions(["getSodas"])
  },
  created() {
    const page = this.$route.query.page;
    if (this.sodas.length === 0) this.getSodas({ page: page ? page : 1 });

    if (!window.localStorage.token) this.$router.push({ name: "login" });
  }
};
</script>

<style></style>
