<template>
  <sui-grid>
    <sui-grid-row>
      <sui-grid-column :width="4" />
      <sui-grid-column :width="8">
        <h2 class="ui blue header">
          <div class="content">Cadastre-se</div>
        </h2>
        <form class="ui form" @submit.prevent="registerUser">
          <div class="ui stacked segment">
            <div class="field">
              <div class="ui left icon input" placeholder="E-mail">
                <input
                  required
                  type="email"
                  placeholder="E-mail"
                  v-model="userData.email"
                /><i class="user icon"></i>
              </div>
            </div>
            <div class="field">
              <div class="ui left icon input" placeholder="Senha">
                <input
                  required
                  type="password"
                  placeholder="Senha"
                  v-model="userData.password"
                /><i class="lock icon"></i>
              </div>
            </div>
            <button
              role="button"
              class="ui color-primary fluid large button"
              ref="submitBtn"
            >
              <sui-icon name="spinner" size="large" loading v-if="loading" />
              <span v-else>Cadastrar</span>
            </button>
          </div>
        </form>
        <div class="ui message">
          Já possui conta?
          <router-link :to="{ name: 'login' }">Login</router-link>
        </div>
      </sui-grid-column>
    </sui-grid-row>
  </sui-grid>
</template>

<script>
import { mapActions, mapState } from "vuex";

export default {
  data() {
    return {
      userData: {
        email: "",
        password: ""
      }
    };
  },
  watch: {
    loading: function(value) {
      if (value) {
        this.$refs.submitBtn.setAttribute("disabled", true);
      } else {
        this.$refs.submitBtn.removeAttribute("disabled");
      }
    },
    user: function(value) {
      if (value.email) this.$router.push({ name: "dashboard" });
    }
  },
  computed: mapState(["user", "loading"]),
  methods: {
    ...mapActions(["register"]),
    registerUser() {
      this.register(this.userData);
    }
  },
  created() {
    this.$store.commit("APP/LOADING_SODAS", false);
  }
};
</script>

<style></style>
