<template>
  <sui-table-body>
    <!-- Loading -->
    <sui-table-row v-if="loading">
      <sui-table-cell colspan="7" textAlign="center">
        <sui-icon name="spinner" size="big" loading />
      </sui-table-cell>
    </sui-table-row>
    <!-- Soda List -->
    <sui-table-row v-for="soda in sodas" :key="soda.id" v-else>
      <sui-table-cell collapsing>
        <sui-checkbox v-model="selected" :value="soda.id" />
      </sui-table-cell>
      <sui-table-cell>{{ soda.brand }}</sui-table-cell>
      <sui-table-cell>{{ soda.volume | volumeFilter }}</sui-table-cell>
      <sui-table-cell>{{ soda.type }}</sui-table-cell>
      <sui-table-cell>{{ soda.quantity }}</sui-table-cell>
      <sui-table-cell>{{ soda.cost | priceFilter }}</sui-table-cell>
      <sui-table-cell collapsing>
        <router-link
          :to="{ name: 'edit', params: { id: soda.id }, query: { page: page } }"
          class="ui basic compact icon primary button"
        >
          <sui-icon name="pencil" />
        </router-link>
      </sui-table-cell>
    </sui-table-row>
  </sui-table-body>
</template>

<script>
import { mapState, mapActions } from "vuex";

export default {
  data() {
    return {
      selected: []
    };
  },
  watch: {
    selected: function(value) {
      this.selectedSodas(value);
    },
    trash: function(value) {
      this.selected = value;
    }
  },
  filters: {
    priceFilter(cost) {
      return cost.toLocaleString("pt-BR", {
        style: "currency",
        currency: "BRL"
      });
    },
    volumeFilter(volume) {
      const v = volume / 1000;

      if (v >= 1) return `${v} L`;

      return `${v * 1000} ml`;
    }
  },
  computed: {
    ...mapState(["sodas", "loading", "trash"]),
    page() {
      return this.$route.query.page;
    }
  },
  methods: {
    ...mapActions(["selectedSodas"])
  }
};
</script>

<style></style>
