<template>
  <sui-table compact celled definition>
    <TableHeader />
    <TableBody />
    <TableFooter />
  </sui-table>
</template>

<script>
import TableHeader from "@/components/Table/Header";
import TableFooter from "@/components/Table/Footer";
import TableBody from "@/components/Table/Body";

export default {
  components: { TableHeader, TableFooter, TableBody }
};
</script>

<style></style>
