<template>
  <sui-table-footer full-width>
    <sui-table-row>
      <sui-table-header-cell colspan="7">
        <button
          class="btn btn-del d-inline-block"
          v-if="trash.length > 0"
          @click="removeSoda"
        >
          <sui-icon name="trash" /> Excluir
        </button>
        <Pagination />
      </sui-table-header-cell>
    </sui-table-row>
  </sui-table-footer>
</template>

<script>
import Pagination from "@/components/Util/Pagination";
import { mapState, mapActions } from "vuex";

export default {
  components: { Pagination },
  computed: mapState(["trash"]),
  methods: {
    ...mapActions(["deleteSoda"]),
    removeSoda() {
      this.$swal({
        title: "Excluir registro(s)",
        text:
          "Tem certeza que deseja executar essa ação? Você não poderá revertê-la!",
        showCancelButton: true,
        confirmButtonColor: "#20375d",
        cancelButtonColor: "#f6474c",
        confirmButtonText: "Confirmar",
        cancelButtonText: "Cancelar"
      }).then(result => {
        if (result.value) {
          this.deleteSoda();
        }
      });
    }
  }
};
</script>

<style></style>
