<template>
  <sui-table-header full-width>
    <sui-table-row>
      <sui-table-header-cell>
        <sui-checkbox v-model="allSelected" />
      </sui-table-header-cell>
      <sui-table-header-cell>Marca</sui-table-header-cell>
      <sui-table-header-cell>Litragem</sui-table-header-cell>
      <sui-table-header-cell>Tipo</sui-table-header-cell>
      <sui-table-header-cell>Qtd. Estoque</sui-table-header-cell>
      <sui-table-header-cell>Valor</sui-table-header-cell>
      <sui-table-header-cell textAlign="center">Ações</sui-table-header-cell>
    </sui-table-row>
  </sui-table-header>
</template>

<script>
import { mapActions } from "vuex";

export default {
  data() {
    return {
      allSelected: false
    };
  },
  watch: {
    allSelected: function(value) {
      this.selectAllSodas(value);
    }
  },
  methods: {
    ...mapActions(["selectAllSodas"])
  }
};
</script>

<style></style>
