<template>
  <div class="ui error message">
    <div class="header">
      Erro ao validar os dados
    </div>
    <ul class="list">
      <li v-for="(error, index) in errors" :key="index">
        {{ error }}
      </li>
    </ul>
  </div>
</template>

<script>
import { mapState } from "vuex";

export default {
  computed: mapState(["errors"])
};
</script>

<style scoped>
.error.message {
  display: block !important;
}
</style>
