<template>
  <sui-modal size="tiny" v-model="open">
    <sui-modal-header>{{ type }} refrigerante</sui-modal-header>
    <sui-modal-content>
      <sui-modal-description>
        <sui-form>
          <sui-grid v-if="loading">
            <sui-grid-row>
              <sui-grid-column :width="16" class="text-center">
                <sui-icon name="spinner" size="huge" loading />
              </sui-grid-column>
            </sui-grid-row>
          </sui-grid>
          <!-- Form -->
          <sui-grid v-else>
            <sui-grid-row>
              <sui-grid-column :width="16" v-if="errors.length > 0">
                <ErrorBox />
                <hr />
              </sui-grid-column>
              <sui-grid-column :width="8">
                <sui-form-field>
                  <sui-input v-model="sodaObj.brand" placeholder="Marca" />
                </sui-form-field>
              </sui-grid-column>
              <sui-grid-column :width="8">
                <sui-form-field>
                  <sui-input v-model="sodaObj.volume" placeholder="Litragem" />
                </sui-form-field>
              </sui-grid-column>
            </sui-grid-row>
            <sui-grid-row>
              <sui-grid-column :width="16">
                <sui-form-field>
                  <sui-input v-model="sodaObj.type" placeholder="Tipo" />
                </sui-form-field>
              </sui-grid-column>
            </sui-grid-row>
            <sui-grid-row>
              <sui-grid-column :width="8">
                <sui-form-field>
                  <sui-input
                    v-model="sodaObj.quantity"
                    placeholder="Quantidade em estoque"
                  />
                </sui-form-field>
              </sui-grid-column>
              <sui-grid-column :width="8">
                <sui-form-field>
                  <sui-input v-model="sodaObj.cost" placeholder="Valor (R$)" />
                </sui-form-field>
              </sui-grid-column>
            </sui-grid-row>
          </sui-grid>
        </sui-form>
      </sui-modal-description>
    </sui-modal-content>
    <sui-modal-actions>
      <sui-button positive @click.prevent="submitForm" ref="submitBtn">
        {{ type }}
      </sui-button>
      <router-link :to="{ name: 'dashboard' }" class="ui button">
        Cancelar
      </router-link>
    </sui-modal-actions>
  </sui-modal>
</template>

<script>
import { mapActions, mapState } from "vuex";

export default {
  data() {
    return {
      open: true,
      type: "",
      sodaObj: {
        brand: "",
        volume: "",
        type: "",
        cost: "",
        quantity: ""
      }
    };
  },
  watch: {
    loading: function(value) {
      if (this.soda.id) this.sodaObj = this.soda;

      if (value) {
        this.$refs.submitBtn.$el.setAttribute("disabled", true);
      } else {
        this.$refs.submitBtn.$el.removeAttribute("disabled");
      }
    },
    open: function(value) {
      // when click outside modal
      const page = this.$route.query.page;

      if (!value) this.$router.push(`/?page=${page ? page : 1}`);
    }
  },
  computed: mapState(["loading", "soda", "errors"]),
  methods: {
    ...mapActions([
      "getSoda",
      "clearSoda",
      "storeSoda",
      "updateSoda",
      "clearNotification"
    ]),
    submitForm() {
      if (this.soda.id) {
        this.updateSoda(this.sodaObj);

        return;
      }
      this.storeSoda(this.sodaObj);
    }
  },
  mounted() {
    const route = this.$route;

    this.type = "Criar";

    if (route.params.id) {
      this.type = "Editar";
      this.getSoda(route.params.id);

      return;
    }

    this.clearSoda();
  }
};
</script>

<style></style>
