<template>
  <sui-menu v-sui-floated:right pagination v-show="pagination.total_page > 1">
    <a is="sui-menu-item" v-show="currentPage != 1" @click.native="stepPage()">
      <sui-icon name="left chevron" />
    </a>
    <a
      is="sui-menu-item"
      v-for="page in pages"
      :key="page"
      :class="currentPage === page ? 'active' : ''"
      @click.native="changePage(page)"
      >{{ page }}</a
    >
    <a
      is="sui-menu-item"
      v-show="currentPage != pagination.total_page"
      @click.native="stepPage(true)"
    >
      <sui-icon name="right chevron" />
    </a>
  </sui-menu>
</template>

<script>
import { mapActions, mapState } from "vuex";

export default {
  data() {
    return {
      currentPage: 1,
      range: 4
    };
  },
  computed: {
    ...mapState(["pagination", "loading"]),
    pages() {
      const currentPage = this.currentPage;
      const range = 4;
      const offset = Math.ceil(range / 2);
      const total = this.pagination.total_page;
      const pagesArr = [];

      for (let i = 1; i <= total; i++) {
        pagesArr.push(i);
      }

      pagesArr.splice(0, currentPage - offset);
      pagesArr.splice(range, total);

      return pagesArr;
    }
  },
  watch: {
    pagination(value) {
      this.currentPage = value.current_page;
    }
  },
  methods: {
    ...mapActions(["getSodas"]),
    changePage(page) {
      this.currentPage = page;

      this.$router.push(`/?page=${page}`);

      this.getSodas({ page: Number(page) });
    },
    stepPage(next) {
      this.currentPage = next ? this.currentPage + 1 : this.currentPage - 1;

      this.$router.push(`/?page=${this.currentPage}`);

      this.getSodas({ page: this.currentPage });
    }
  },
  created() {
    const page = Number(this.$route.query.page);
    this.currentPage = page ? page : 1;
  }
};
</script>

<style></style>
