<template>
  <div class="ui right action left icon input">
    <i class="search icon"></i>
    <input
      type="text"
      placeholder="Pesquisar..."
      v-model="search"
      @keyup="searchItem"
    />
    <div class="ui basic floating dropdown button" @click="toggleMenu(open)">
      <div class="text">{{ searchable[selected - 1].label }}</div>
      <i class="dropdown icon"></i>
      <div class="menu" v-show="open">
        <div
          class="item"
          v-for="search in filterSearchables(selected)"
          :key="search.id"
          @click.stop="selectItem(search.id)"
        >
          {{ search.label }}
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapActions } from "vuex";

export default {
  data() {
    return {
      open: false,
      selected: 1,
      searchable: [
        { id: 1, name: "brand:like", label: "Marca" },
        { id: 2, name: "volume", label: "Litragem" },
        { id: 3, name: "quantity", label: "Quantidade" },
        { id: 4, name: "cost", label: "Valor" }
      ],
      search: ""
    };
  },
  methods: {
    ...mapActions(["getSodas"]),
    filterSearchables(selected) {
      return this.searchable.filter(search => search.id !== selected);
    },
    selectItem(id) {
      this.selected = id;
      this.open = false;
    },
    toggleMenu(open) {
      this.open = !open;
    },
    // VUEX, refactor
    searchItem(e) {
      const query = e.target.value;
      const field = this.searchable[this.selected - 1].name;

      this.getSodas({
        page: 1,
        search: { query, field }
      });
    }
  }
};
</script>

<style scoped>
.ui.dropdown .menu {
  display: block;
}
</style>
