<template>
  <div id="app">
    <AppHeader />
    <div id="main" is="sui-container">
      <router-view></router-view>
    </div>
    <AppFooter />
  </div>
</template>

<script>
import { mapActions, mapState } from "vuex";

export default {
  name: "app",
  computed: mapState(["alert"]),
  watch: {
    alert: function(value) {
      if (value.message) {
        this.$toastr.Add({
          msg: value.message,
          timeout: 3000,
          type: value.type
        });
        this.clearNotification();
      }

      const route = this.$route;

      if (route.name === "create" || route.name === "edit")
        if (value.type === "success") this.$router.push(`/?page=1`);
    },
    user: function(value) {
      if (value.email) this.$router.push({ name: "dashboard" });
    }
  },
  methods: {
    ...mapActions(["clearNotification"])
  },
  created() {
    if (window.localStorage.token) {
      // validate token || WORK IN PROGRESS || TODO
      this.$store.state.user = { email: "refactor@gmail.com" };
    }
  }
};
</script>

<style lang="scss">
@import "@/assets/styles/app.scss";
</style>
