@import "_colors";
@import "_variables";

// Structure
#app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: $font;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
}

nav {
  display: flex !important;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 15px 20px;
  box-shadow: $shadow;
}

#main {
  flex: 1;
  padding-top: 20px;
}

footer {
  background: $primary;
  color: #ffffff;
  padding: 25px 0;
  text-align: center;
  font-size: 1.2rem;
}

// Logo
#brand {
  display: flex;
  align-items: center;

  &-logo {
    height: 80px;
    margin-right: 20px;
  }

  &-text {
    color: $primary;
    font-size: 3rem;
  }
}

// Buttons
.btn {
  display: block;
  padding: 10px 30px;
  border: none;
  border-radius: 4px;
  box-shadow: $shadow;
  font-family: $font;
  font-size: 1rem;
  text-align: center;
  transition: all 0.3s;
  cursor: pointer;
  color: #ffffff;

  &-app {
    background: $primary;

    &:hover {
      background: #22395e;
      color: $light;
    }
  }

  &-del {
    background: $secondary;

    &:hover {
      background: #ca3338;
      color: $light;
    }
  }
}

// Other
.float-right {
  float: right;
}

.text-center {
  text-align: center;
}

.d-inline-block {
  display: inline-block;
}

.color-primary {
  background: $primary !important;
  color: #ffffff !important;

  &:hover {
    background: #22395e !important;
    color: $light !important;
  }
}
