<template>
  <nav>
    <div is="sui-container" id="h-wrapper">
      <router-link :to="{ name: 'dashboard', query: { page: 1 } }">
        <div id="brand">
          <img src="@/assets/logo.svg" alt="SodaStock" id="brand-logo" />
          <h1 id="brand-text">SodaStock</h1>
        </div>
      </router-link>
      <button class="btn btn-app" @click.prevent="logoutUser" v-if="user.email">
        Sair
      </button>
    </div>
  </nav>
</template>

<script>
import { mapActions, mapState } from "vuex";

export default {
  computed: mapState(["user"]),
  methods: {
    ...mapActions(["getSodas", "logout"]),
    logoutUser() {
      this.logout().then(this.$router.push({ name: "login" }));
    }
  }
};
</script>

<style scoped>
#h-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
</style>
